Tests: build
# this doesn't work well, with building only one architecture
#Depends: build-essential
#Restrictions: build-needed
Depends: @builddeps@
# build process emits warnings on stderr
Restrictions: allow-stderr, skippable
